@import "tailwindcss";

@font-face {
    font-family: 'Vogue';
    src: url('./assets/Vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


@keyframes twinkle {
  0%, 100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.animate-twinkle {
  animation: twinkle 3s infinite ease-in-out;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
